<% @atualizacao[:estagiarios].each do |estagiario| %>
  <div>
    <h1>
      Estagiário <em><%= estagiario[:nome] %></em>
    </h1>
    <hr>
    <% estagiario[:casos].each do |caso| %>
      <div style="margin-left: 50px">
        <em>Caso <a href="localhost:3000/atendimentos/1"><%= caso[:id] %></a></em> - <%= caso[:nome_cliente] %>
        <% caso[:processos_update].each do |processo_update| %>
          <div style="margin-left: 100px">
            <p>Processo número: <%= processo_update[:processo_numero] %></p>
            <div style="margin-left: 100px">
              <p>Diário oficial: <%= processo_update[:diario_oficial] %></p>
              <p>Seção: <%= processo_update[:caderno] %></p>
              <p>Seção: <%= processo_update[:secao] %></p>
              <p>Seção: <%= processo_update[:pagina] %></p>
              <em>Atualização: </em>
              <p><%= processo_update[:atualizacao] %></p>
            </div>
          </div>
        <% end %>
      </div>
      <hr>
    <% end %>
<% end %>
