<% if @estagiario.errors.any? %>
  <div id="error_expl" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(@estagiario.errors.count, "error") %> prohibited this estagiario from being saved:</h3>
    </div>
    <div class="panel-body">
      <ul>
      <% @estagiario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="control-group col-md-12">
    <%= f.label "Especialidades"%>
    <ul class="list-group control-group">
      <% get_especialidades_helper(nil).each do |esp| %>
        <li class="list-group-item">
          <%= f.check_box :especialidades, { multiple: true, checked: (@estagiario.especialidades.ids.include? esp[1]) }, esp[1] %>
          <%= f.label esp[0], :class => 'control-label', :style => 'font-weight: normal;' %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
